<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/train_svgrepo_com"
        android:label="@string/bmrcl_complaint"
        android:roundIcon="@drawable/train_svgrepo_com"
        android:supportsRtl="true"
        android:theme="@style/Theme.LASTATTEMPT"
        tools:targetApi="31">
        <activity
            android:name=".OpeningWindow"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EDComplain"
            android:exported="false" />
        <activity
            android:name=".FAAComplain"
            android:exported="false" />
        <activity
            android:name=".Update"
            android:exported="false" />
        <activity
            android:name=".OAMComplain"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="false"/>

    </application>

</manifest>